<form name="form1" method="post" enctype="multipart/form-data">
    <div class="row">
        <div data-loading></div>
        <div class="col-md-6 step-wizard" [ngClass]="{'border-r':isStatusActive}">
            <div class="col-md-12 tabContentArea" style="padding: 0 15px 0">
                <div class="form-group custom-uploader" style="margin-bottom: 10px;">
                    <label for="">Select excel file:</label>
                    <div class="input-group">
                        <input type="text" name="filename" class="form-control" placeholder="No file selected" [(ngModel)]="uploadFileName" readonly>
                        <span class="input-group-btn">
                            <span class="btn btn-default  custom-file-uploader">
                                <input id="originalfile-upload" class="production-Logo" type="file" (change)="loadFile($event)" />
                                <img src="{{websiteRoot}}/{{imgurl}}/browse-file.png" alt="">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group pull-left">
                    <button type="button" class="blueBtn createBtn" (click)="save()">Upload</button>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="isStatusActive" style="padding-left:30px;">
            <div class="row">
                <div class="col-md-12">
                    <label>
                        <h4 style="color:green;">{{lblSuccessOrFailStatus}}</h4>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="TotalOrders">Total orders </label>
                </div>
                <label>
                    {{lblSuccessTotalOrder}}
                </label>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="SuccessOrder"> Success </label>
                </div>
                <label>
                    {{lblSuccessSuccess}}
                </label>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="ErrorOrder"> Error </label>
                </div>
                <label>
                    {{lblSuccessOrError}}
                </label>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group pull-left">
                        <button type="button" class="blueBtn createBtn" (click)="downLoadExcelSheet()">Download Logs</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>